body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.content{
    background-image: url("../Images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;  
}

.bg{
    background-size: cover;
    background-repeat: no-repeat;
}

.section-title{
    margin-bottom: 80px;
}