:root {

/* Colors: */
--black: #000000;
--white: #FFFFFF;
--yellow: #EFE60B;
--gray: #4E4C4A;

}

.text-style-1 {
font-weight: 800;
font-size: 99px;
line-height: 130px;
color: var(--white);
}
.text-style-2 {
font-weight: bold;
font-size: 45px;
line-height: 30px;
color: var(--black);
}
.text-style-3 {
font-weight: bold;
font-size: 13px;
line-height: 24px;
color: var(--black);
}
.text-style-4 {
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: var(--white);
}
.text-style-5 {
font-size: 13px;
line-height: 24px;
color: var(--black);
}
.text-style-6{
font-weight: bold;
font-size: 20px;
line-height: 24px;
color: var(--yellow);
}
.text-style-7{
font-weight: normal medium;
font-size: 17px;
line-height: 25px;
color: var(--white);
text-align: center;
}
.text-style-8{
font-weight: bold;
font-size: 16px;
line-height: 20px;
}


/*
    Responsivity
                    */

@media only screen and (min-width: 1800px){
    .text-style-1{
        font-size: 141px;
        line-height: 198px;
    }
    .text-style-2{
        font-size: 60px;

    }
    .text-style-3{
        font-size: 25px;
        line-height: 30px;
    }
    .text-style-4{
        font-size:20px;
    }
    .text-style-5{
        font-size: 25px;
        line-height: 30px;
    }
    .text-style-6{
        font-size: 30px;
    }
    .text-style-7{
        font-size: 25px;
    }
    .text-style-8{
        font-size: 20px;
        line-height: 30px;
    }
}