.s1{
    background-image: url("../Images/s1\ ft1.png");
    background-size: cover; 
    background-repeat: no-repeat;
    padding:20px 100px 40px;
    
}

/*Page Header (logo,nav_bar)*/
header{
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 37px; 
    cursor:pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 15px;
}

.nav__links li a{
    font-weight: bold;
    font-size: 12px;
    color: #ffff;
    text-decoration: none;
}



/*------------------------------------*/
.h2__box{
     
    text-align: center;
    padding-top: 180px;
    margin: 0 auto;
}

h1{
    margin:0;
}
h2{
    margin: 0;
}


.paragraph{
    text-align: center;
    margin: 0 auto;
    padding: 70px 0 0;
    width:600px;
}

.contact-link{
    padding-top:60px;
    text-align: center;
    width: 100%; 
    display: flex;
    justify-content: center;
}
.link-button{
    background: #1CD4E9;
    border-radius: 42px;
    display: inline-block;
    padding: 18px 20px;
    cursor: pointer;

}
.contact-link__text{
    font-weight: bold;
    font-size: 14px;
 
    color: var(--white);
}



/*
    Responsivity
                    */

/* above 1920px width*/
@media only screen and (min-width: 1920px){

    .logo{
        height: 60px;
    }
    .nav__links li a{
        font-size: 21px;
    }
    
    .h2__box{
        padding-top:240px;
    }
    .paragraph{
        width : 920px;  
    }
    
    /* button */
    .contact-link{
        padding-top:100px;
    }
    .link-button{
        padding: 30px 30px;
    }
    .contact-link__text{
        font-size: 22px;
    }
}

/*between 1800px and 1920px width */
@media only screen and (min-width: 1800px) and (max-width: 1920px){
    .logo{
        height: 57px;
    }
    .nav__links li a{
        font-size: 20px;
    }

    .h2__box{
        padding-top:240px;
    }
    .paragraph{
        width : 850px;  
    }

    /* button */
    .contact-link{
        padding-top:80px;
    }
    .link-button{
        padding: 30px 25px;
    }
    .contact-link__text{
        font-size: 20px;
    }
}

/*between 1600px-min and 1800px-max width*/
@media only screen and (max-width: 1800px) and (min-width: 1600px){
    .logo{
        height: 50px;
    }
    .nav__links li a{
        font-size: 17px;
    }
    .h2__box{
        padding-top:200px;
    }
    .paragraph{
        width : 780px;  
    }
    /* button */
    .contact-link{
        padding-top:80px;
    }
    .link-button{
        padding: 25px 20px;
    }
    .contact-link__text{
        font-size: 18px;
    }
}

/*between 1400px-min and 1600px-max width*/
@media only screen and (max-width: 1600px) and (min-width: 1400px){
    .logo{
        height: 45px;
    }
    .nav__links li a{
        font-size: 15px;
    }
    .h2__box{
        padding-top:160px;
    }
    .paragraph{
        width : 750px;  
    }
    /* button */
    .contact-link{
        padding-top:80px;
    }
    .link-button{
        padding: 25px 20px;
    }
    .contact-link__text{
        font-size: 16px;
    }
}