.s1{
    background-image: url("../Images/s1\ ft1.png");
    background-size: cover; 
    background-repeat: no-repeat;
    padding:20px 100px 40px;
    
}

/*Page Header (logo,nav_bar)*/
header{
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 37px;
    cursor:pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 15px;
}

.nav__links li a{
    font-weight: bold;
    font-size: 12px;
    color: #ffff;
    text-decoration: none;
}



/*------------------------------------*/
.h1__box{
     
    text-align: center;
    padding-top: 180px;
    margin: 0 auto;
}

h1{
    margin: 0;
}


.paragraph{
    text-align: center;
    margin: 0 auto;
    padding: 70px 0 0;
    width:600px;
}

.contact-link{
    padding-top:60px;
    text-align: center;
    width: 100%; 
    display: flex;
    justify-content: center;
}
.link-button{
    background: #1CD4E9;
    border-radius: 42px;
    display: inline-block;
    padding: 18px 20px;
    cursor: pointer;

}
.contact-link__text{
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: var(--white);
}



/*
    Responsivity
                    */

                
@media only screen and (min-width: 1800px){
    .logo{
        height: 57px;
    }
    .nav__links li a{
        font-size: 20px;
    }

    .h1__box{
        padding-top:240px;
    }
    .paragraph{
        width : 850px;  
    }

    /* button */
    .link-button{
        padding: 30px 25px;
    }
    .contact-link__text{
        font-size: 20px;
    }
}

