

.s2__card{
    padding: 20px 50px;
    background-color: var(--white);
    box-shadow: 0px 0px 30px #0000004D;
    width: 75%;
    box-sizing: border-box;
}



/*
    Responsivity
                    */

/*above 1920px width */                


/*between 1600px-min and 1800px-max width*/
@media only screen and (max-width: 1800px) and (min-width: 1600px){
    
}